.next-task-main {
    display: flex;
    height: 196px;
    width: 325px;
}

.next-task-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 11px;
    width: 100%;
}

.next-task {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.next-name {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.next-time {
    color: #D90000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}